<html>
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.1.js"></script>
<script src="js/node_utils.js"></script>
<script src="js/node.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>

<link rel="stylesheet" href="css/common.css"/>


<body ng-app="nodeApp" ng-controller="myCtrl"  style="">
<div class="header row">
	<h2 style="float:left;margin:0" id="logo" class="title"><a href="/"> <img href="/" src="img/icon.png" height=40></img></a>	<i>mappy</i> worker </h2>
	<div style="color:white;text-align:right;">
		<a href="http://mappy.tech" style="color:white;font-size:14px;height:50px;margin:0;" class="button" style="color:white;float:right;">Info </a>
		<button style="color:white;float:right;" value='' class="button round_btn" ng-show="!working" ng-click='working=true;new_job()'>&#9658;</button>
		<button style="color:white;float:right;" value='' class="button round_btn" ng-show="working" ng-click='working=false;'>&#9612;&#9612;</button>
	</div>
	
</div>
<hr style="margin-top:0">
<div class="container" style="text-align:center">
		
		<p style="text-align:center"><b>Computing by the community and for the community</b></p>
		<select style="height:50px;display:none">
		  <option value="volvo" >Test Project</option>
		</select>
		
		<!--<div id="factBalanceContainer" class="fact">
                <div id="factBalanceContainerInner">
                    <div class="label">
                        <span>Time contributed in this session</span>
                    </div>
                    <div>
						<span id="factBalance">{{time_contri_session/1000.0|number :1}}s
						</span>
                    </div>
                </div>
            </div>
		<div id="factBalanceContainer" class="fact">
                <div id="factBalanceContainerInner">
                    <div class="label">
                        <span>Compute units contributed in this session</span>
                    </div>
                    <div>
						<span id="factBalance">{{compute_contri_session|number:0}}</s
						</span>
                    </div>
                </div>
            </div> -->
		<div class="row" style="text-align:center;margin:auto">
			<div id="" class="fact">
                    <div class="label">
                        <span>TIME CONTRIBUTED</span>
                    </div>
                    <div>
						<span id="factBalance">{{time_contributed/1000.0|number :1}}s</s
						</span>
                    </div>
            </div> 
			<div id="" class="fact">
                    <div class="label">
                        <span>COMPUTE CONTRIBUTED</span>
                    </div>
                    <div>
						<span id="factBalance">{{compute_contributed/1000000000.0|number:1}}G</s
						</span>
                    </div>
            </div>	
			
		</div>
		<div class="row">
			<table class="six columns">
				<tr><th>Ids for processed jobs</th><th>Names</th><th>Time in milliseconds</th><th>Num Operations</th></tr>
				<tr ng-repeat="job in processed_jobs track by $index">
					<td>{{job[1]}}</td><td>{{job[0]}}</td><td>{{job[2]|number:0}}</td><td>{{job[3]|number:0}}</td>
				</tr>
			</table>
			<table  class="six columns">
				<tr><th>Ids for error jobs</th><th>Names</th><th>Error details</th></tr>
				<tr ng-repeat="err in error_jobs">
					<td>{{err[1]}}</td><td>{{err[0]}}</td><td>{{err[2]}}</td>
				</tr>
			</table>
		</div>

</div>
</body>
</html>